# Türleri Yönetmek ve Veri Tipi Dönüşümleri
Pythonda ve diğer çoğu programlama dilinde veritiplerinin birbirine dönüştürülmesi gerekir. Örneğin ondalıklı sayıyı tamsayıya dönüştürme, hatta bir string'i tamsayıya dönüştürme işlemleri programlarımızı yazarken büyük önem taşır.

### Veri tipini öğrenme

In [ ]:
Veri tipini öğrenmek için type() fonksiyonunu kullanabiliriz.

In [19]:
tam_sayi=5
ondalikli_sayi=5.4
karakter_dizisi="Mehmet"
kompleks_sayi=complex(3,4)

In [20]:
type(tam_sayi)

int

In [21]:
type(ondalikli_sayi)

float

In [22]:
type(karakter_dizisi)

str

In [23]:
type(kompleks_sayi)

complex


### Tamsayıyı Ondalıklı Sayıya Çevirme

Bir tamsayı değeri(integer) ondalıklı sayıya(float) çevirmek için *float()* fonksiyonunu kullanırız.

In [2]:
# Çevireceğimiz sayıyı parantez içine alıyoruz.
int_to_float = 43
float(int_to_float)

43.0

Ya da float() fonksiyonuna doğrudan bir tamsayı verebiliriz.

In [3]:
float(-35)

-35.0

In [4]:
float(423)

423.0

### Ondalıklı Sayıyı Tamsayıya Çevirme

Bir ondalıklı sayıyı tamsayıya çevirmek için *int()* fonksiyonunu kullanırız.Sonuç, ondalıklı sayının tam kısmı olarak karşımıza çıkar.

In [5]:
int(4.7)

4

In [6]:
int(3.14)

3

In [7]:
int(10.3435435345345345)

10

In [10]:
integer_num = 4
float_num = 2.2
int(integer_num/float_num)

1

### Sayıları Stringlere Çevirme

Bir sayıyı string'e çevirmek için *str()* fonksiyonunu kullanırız.Sayıyı oluşturan tüm rakamlar veya noktalar birer karaktere dönüşür.

In [11]:
integer_number = 32324324
string_number = str(integer_number)
string_number

'32324324'

In [12]:
len(string_number)

8

### Stringleri Tamsayıya Çevirme

Bir string'i bir tamsayıya çevirmek istediğimiz zaman *int()*  fonksiyonunu kullanırız. Ancak dönüştürme işleminde stringin her bir karakteri bir *rakam* olmalıdır

In [13]:
# Doğru
string_to_integer = "32434324324234"
integer_number = int(string_to_integer)
integer_number

32434324324234

In [14]:
# Hatalı - Her bir karakterin 10'luk tabanda olması gereklidir.
string_to_integer = "dasdasd343435"
integer_number = int(string_to_integer)
integer_number

ValueError: invalid literal for int() with base 10: 'dasdasd343435'

### Stringleri Ondalıklı Sayıya Çevirme

Bir string'i bir ondalıklı sayıya çevirmek istediğimiz zaman *float()*  fonksiyonunu kullanırız. Ancak dönüştürme işlemini yaparken stringin ondalıklı sayı formatına uygun olduğundan emin olmalıyız. 

**Not:** Pythonda ondalıklı sayılar "," ile değil "." ile tanımlanırlar. Dolayısıyla string ifadede ondalıklı değer olacaksa "." içermelidir.

In [15]:
# Doğru Kod
string_to_float = "3.1444545"
float_number = float(string_to_float)
float_number

3.1444545

In [16]:
# Hatalı Kod
string_to_float = "3.14.324324"
float_number = float(string_to_float)
float_number

ValueError: could not convert string to float: '3.14.324324'